@import url('https://fonts.googleapis.com/css?family=Diplomata+SC');

h1 {
  font-family: Diplomata SC;
  size: 20px;
  text-align: left;
}

#image-and-text-box{
  display: flex;
  justify-content: center;
}

#bats{
  height: 125px;
  width: auto;
  float: left;
  /*margin-left: 22%;*/
  margin-right: 0;
  padding-bottom: 2%;
}

.lowerCaseH1{
  font-family: sans-serif;
  font-size: 50%;
  size: 6px;
  color: #808080;
}

#topConSource {
  background-color: blue;
  text-align: center;
}

#topProSource {
  background-color: pink;
  text-align: center;
}

#row1 {
  text-align: center;
  background-color: green;
}

.jumbotron {
  text-align: center;
  margin-bottom: -10px;
}

#dropDownNewClaimForm {
  padding: 10px;
}

#signout-form{
  display: none;
}

#existing-user-welcome{
  display: none;
  text-align: right;
}

p.navbar-brand{
  padding-left: 50%;

}

#testRow {
  background-color: red;
  padding-top: 15px;
  padding-bottom: 15px;
}

#testRow2 {
  background-color: salmon;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

#dropdownMenuButton {
  margin-left: 15px;
}

#commentSection {
  text-align: left;
}

#commentForm, #comments {
  text-align: center;
  margin-top: 80px;
}

#comments {
  font-family:sans-serif;
  font-size:1.2em
}

#commentSection {
  display: none;
}

textarea {
  width: 300px;
  height: 60px;
  text-align: left;
}

#comment-row {
  border: 3px;
}

.userSaid {
  font-weight: bold;
  font-size: 16px;
}

#commentColumn {
  background-color: orange;
}

#commentSubmit {
  float: right;
  border-width: thin;
}

#commentsExpandLink {
  text-decoration: underline;
}
