#question {
  background-color: green;
}

#topConSource {
  background-color: blue;
  text-align: center;
}

#topProSource {
  background-color: pink;
  text-align: center;
}

#question {
  text-align: center;
}

.jumbotron {
  text-align: center;
  margin-bottom: -10px;
}

/*#loginGatherer{
  /*text-align: center;*/
  /*padding-left: 40%;
}*/

/*#row1{
  display: none;
}*/


#dropDownNewClaimForm {
  padding: 10px;
}

#signout-form{
  display: none;
}

#existing-user-welcome{
  display: none;
  text-align: right;
}

p.navbar-brand{
  padding-left: 50%;

}

#testRow {
  background-color: red;
  padding-top: 15px;
  padding-bottom: 15px;
}

#testRow2 {
  background-color: salmon;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

#dropdownMenuButton {
  margin-left: 15px;
}

#commentSection {
  text-align: left;
}

#commentForm, #comments {
  /*width: 590px;*/
  column-fill: 100%;
  text-align: center;
}

#comments {
  font-family:sans-serif;
  font-size:1.2em
}

#commentSection {
  display: none;
}

textarea {
  width: 300px;
  height: 60px;
  text-align: left;
}

#comment-row {
  border: 3px;
}
