@import url('https://fonts.googleapis.com/css?family=Diplomata+SC');

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
/* try 50% */
.roundrect .up {
  border-radius: 2rem 2rem 0 0;
}
.roundrect .down {
  border-radius: 0 0 2rem 2rem;
}
.roundrect .count {
  border-radius: .5rem .5rem;
}

.circle .up {
  border-radius: 10rem 10rem 0 0;
}
.circle .down {
  border-radius: 0 0 10rem 10rem;
}
.circle .count {
  border-radius: 50%;
}

.vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Noto Sans";
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
}

.increment {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
  text-align: center;
  opacity: .5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.increment.up {
  background: #4BC35F;
  height: 50%;
  margin-bottom: 0.25rem;
}
.increment.down {
  background: #C15044;
  height: 50%;
}
.increment:hover {
  opacity: 1;
}

.count {
  position: absolute;
  top: 0;
  border-radius: 0.1rem;
  margin: 2.5rem;
  background: #F6F3E4;
  width: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 5rem;
  text-align: center;
  box-shadow: 0 0 0 0.5rem #F6F3E4;
  pointer-events: none;
}
.count.upvoted {
  color: #4BC35F;
}
.count.downvoted {
  color: #C15044;
}

.bump {
  -webkit-animation: bump 200ms;
          animation: bump 200ms;
}

@-webkit-keyframes bump {
  30% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes bump {
  30% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.well {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F3E4;
}

h1 {
  font-family: Diplomata SC;
  size: 20px;
  text-align: left;
}

.claim-lead{
  font-family: monospace;
  font-size: 70%;
}

.original-asker{
  font-family: monospace;
  font-size: 95%;
  text-align: left;
}

#image-and-text-box{
  display: flex;
  justify-content: center;
}

#bats{
  height: 125px;
  width: auto;
  float: left;
  /*margin-left: 22%;*/
  margin-right: 0;
  padding-bottom: 2%;
}

.lowerCaseH1{
  font-family: sans-serif;
  font-size: 50%;
  size: 6px;
  color: #A66200;
}

#topConSource {

  text-align: center;
}

#topProSource {
  background-color: pink;
  text-align: center;
}

#topic {
  text-align: center;
  background-color: green;
}

nav {
  border-top: 25px solid #3682B5;
  margin-top: -35px;
}

#header {
  text-align: center;
  /*margin-bottom: -10px;*/
  background-color: #0063A6;
  color: #A66200;
  border-bottom: 5px solid #593500;
}

#footer {
  border-top: 5px solid #593500;
  background-color: #3682B5;
  margin-top: 60px;
}

#dropDownNewClaimForm {
  padding: 10px;
}

#signout-form{
  display: none;
}

#existing-user-welcome{
  display: none;
  text-align: right;
}

p.navbar-brand{
  padding-left: 50%;
}

#testRow {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 5px solid #593500;
  background-color: #3682B5;
  border-top: 25px solid #3682B5;
}

#testRow2 {
  background-color: #3682B5;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-top: 25px solid #3682B5;
  bor
}

#dropdownMenuButton {
  margin-left: 15px;
}

#commentSection {
  text-align: left;
}

#commentForm, #comments {
  text-align: center;
  margin-top: 80px;
}

#comments {
  font-family:sans-serif;
  font-size:1.2em
}

#commentSection {
  display: none;
}

textarea {
  width: 300px;
  height: 60px;
  text-align: left;
}

#comment-row {
  border: 3px;
}

.row-sources{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.userSaid {
  font-weight: bold;
  font-size: 16px;
}

#commentColumn {
  border: 1px solid black;
}

#commentSubmit {
  float: right;
  border-width: thin;
}

#commentsExpandLink {
  text-decoration: underline;
  color: blue;
}
